.userProfileContainer {
  padding-bottom: 100px;
  display:flex;
}

.taskUserContainer {
  width: 60%;
  margin-left: 40px;
}

.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid #333333;
  border-radius: 36px;
  background: linear-gradient(180deg, #99FF91 0%, #61D1F2 100%);
  height: 550px;

}

.label {
  width: 50%;
  font-style: normal;
  padding-top: 5px;
  font-weight: normal;
  color: #000;
  margin-bottom: 0.1rem;
}

.button {
  width: 40%;
  max-width: 350px;
  min-width: 250px;
  height: 40px;
  border: none;
  margin: 1rem 0;
  box-shadow: 0px 14px 9px -15px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: #000;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease-in;
  
}
.button hover {
  transform: translateY(-3px);
}

.buttonContainer {
  min-width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;


}


.container {
  min-width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2rem;

}

.input {
border: none;
border-bottom: 1px solid;
background-color: rgba(255, 255, 128, 0);
outline: none;
}

.select {
  width: 58%;
  display: flex;
  justify-content:flex-end;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 128, 0);
  outline: none;
  padding: 10px;
}

.lkContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  outline: none;
  text-align:;
}

.name1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
}

.email {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  outline: none;
  text-align: left;
}
.email1{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
}

.about {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  outline: none;
  text-align: left;
}

.about1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
}

.role {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  outline: none;
  text-align: left;
}

.role1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
}

.img {
  width: 120px;
  height: 130px;
  border: 1px solid black;
  border-radius: 35px;
  margin-bottom: 10px;
}

.separator {
  height: 1px;
  background-color: black;
}

.container {
  margin-bottom: 10px;
}
