.input {
  border: none;
  background-color: #a19e9e;
  border: 1px solid grey;
  box-sizing: border-box;
  border-radius: 10px;
  width: 300px;
}

.filterContainer {
  margin-bottom: 50px;
}

.workersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currentWorker {
  display: flex;
  justify-content:flex-start;
  margin-bottom: 25px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 15px;
  width: 800px;
  height: 150px;
}

.imgContainer {
  width: 100px;
  height: 200px;

}

.infoWorkerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: auto;

}

.currentName {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.ratingContainer {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  margin-left: 25px;
}

.ratingsContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

.currentRating {
  margin-right: 15px;

}

.doneContainer {
  display: flex;
  flex-direction: column;
}

.workerSearchHeader {
  margin-bottom: 25px;
}

.img {
  height: 100px;
  border-radius: 36px;
}
